LLM_ENABLED=false
LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL=
LLM_TIMEOUT_SECONDS=30
LARK_CLI_PATH=
FEISHU_BOT_ENABLED=false
FEISHU_ENTERPRISE_BOT_ENABLED=false
REVIEW_BASE_URL=http://localhost:8501
TASK_ROOT_DIR=temp
BOT_PROGRESS_MIN_INTERVAL_SECONDS=15
BOT_MAX_FILE_SIZE_MB=100
BOT_MAX_TASK_SIZE_MB=1000
BOT_ALLOWED_EXTENSIONS=.xlsx,.xlsm,.zip
CONFLUENCE_BASE_URL=https://yfconfluence.mychery.com
CONFLUENCE_PAT=
CONFLUENCE_VERIFY_SSL=true
CONFLUENCE_CA_BUNDLE=
CONFLUENCE_TIMEOUT_SECONDS=30
CONFLUENCE_ALLOWED_HOSTS=yfconfluence.mychery.com
CONFLUENCE_ALLOWED_SPACE_KEYS=
CONFLUENCE_MAX_PAGES=500
CONFLUENCE_MAX_ATTACHMENTS=500
CONFLUENCE_MAX_FILE_SIZE_MB=100
CONFLUENCE_MAX_TASK_SIZE_MB=1000
CONFLUENCE_PARENT_INCLUDE_SELF=false
BOT_INPUT_MODE=confluence_url
BOT_ALLOW_FILE_UPLOAD=false
BOT_AUTO_START_WHEN_BOTH_READY=true
FEISHU_ALLOWED_OPEN_IDS=
FULL_COMPARE_COMMAND_ENABLED=false
FULL_COMPARE_MAX_CONCURRENT_TASKS=1
FULL_COMPARE_40_PARENT_URL=https://yfconfluence.mychery.com/spaces/EEA51/pages/104890412/%E9%80%9A%E8%AE%AF%E7%9F%A9%E9%98%B5+-26R1
FULL_COMPARE_51_PARENT_URL=https://yfconfluence.mychery.com/spaces/EEA51/pages/132350051/%E9%80%9A%E8%AE%AF%E7%9F%A9%E9%98%B5-26R2
CONFLUENCE_PARENT_SELECT_LATEST_VERSION=true
CONFLUENCE_LATEST_VERSION_STRICT=true
CONFLUENCE_ATTACHMENT_EXCLUDE_KEYWORDS=历史,备份,废弃,作废,old,backup
CONFLUENCE_LOCAL_FILENAME_MAX_CHARS=180
MAIL_WATCHER_ENABLED=false
MAIL_PROVIDER=imap
MAIL_IMAP_HOST=
MAIL_IMAP_PORT=993
MAIL_IMAP_TIMEOUT_SECONDS=30
MAIL_IMAP_USERNAME=
MAIL_IMAP_PASSWORD=
MAIL_IMAP_FOLDER=INBOX
MAIL_POLL_INTERVAL_SECONDS=60
MAIL_TRIGGER_SENDER_EMAIL=fangyue2@mychery.com
MAIL_TRIGGER_SUBJECT_KEYWORD=更新
MAIL_TRIGGER_DELAY_SECONDS=300
MAIL_TRIGGER_DEBOUNCE_SECONDS=300
MAIL_TRIGGER_INITIAL_BASELINE=true
MAIL_TRIGGER_MAX_QUEUE_ATTEMPTS=20
FEISHU_CUSTOM_BOT_ENABLED=false
FEISHU_CUSTOM_BOT_WEBHOOK=
FEISHU_CUSTOM_BOT_SECRET=
FEISHU_CUSTOM_BOT_NOTIFY_TARGET=default_group
FEISHU_CUSTOM_BOT_TIMEOUT_SECONDS=10
FEISHU_CUSTOM_BOT_MAX_ATTEMPTS=3
ADMIN_PAGE_ENABLED=false
ADMIN_PAGE_ACCESS_TOKEN=
